body{
  background-color: darkseagreen;
}
#page1{
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows: auto;

grid-template-areas: 
  "header"
  "main"
  "footer";
  gap:2px;
  place-items:center;
}
#header{
  grid-area: header;
border:2px dashed red;
  text-align: center;
  padding: 15px; 
  margin:5px;
  text-decoration: maroon;
}
#main{
  grid-area: main;
  margin:5px;
  border:2px solid red;
  text-decoration-color: indianred;
  padding: 20px; 
}
#footer{
  grid-area:footer;
  border:2px dashed red;
  text-align: center;
  padding: 15px; 
  margin:5px;
}
img{
  width: 110px;
  height:150px;
}
#list li{
  display: inline;
 
  background-color: indianred;
  padding:20px
  
}
#listp li{
  display: inline;
  padding:10px
}